/*
 * EasyBimehLandingLib
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
 */
package ir.notifaano.server.controllers;

import java.io.*;
import java.util.*;
import java.util.concurrent.*;
import com.fasterxml.jackson.core.type.TypeReference;

import ir.notifaano.server.*;
import ir.notifaano.server.models.*;
import ir.notifaano.server.exceptions.*;
import ir.notifaano.server.http.client.HttpClient;
import ir.notifaano.server.http.client.HttpContext;
import ir.notifaano.server.http.request.HttpRequest;
import ir.notifaano.server.http.response.HttpResponse;
import ir.notifaano.server.http.response.HttpStringResponse;
import ir.notifaano.server.http.client.APICallBack;
import ir.notifaano.server.controllers.syncwrapper.APICallBackCatcher;

public class FooterController extends BaseController {
    //private static variables for the singleton pattern
    private static final Object syncObject = new Object();
    private static FooterController instance = null;

    /**
     * Singleton pattern implementation 
     * @return The singleton instance of the FooterController class 
     */
    public static FooterController getInstance() {
        if (null == instance) {
            synchronized (syncObject) {
                if (null == instance) {
                    instance = new FooterController();
                }
            }
        }
        return instance;
    }

    /**
     * دریافت اطلاعات درباره ی ما
     * @param    xApiKey    Required parameter: Example: 
     * @return    Returns the BaseModelPortalLandingContactAbout response from the API call 
     */
    public BaseModelPortalLandingContactAbout getPortalLandingContactAbout(
                final String xApiKey
    ) throws Throwable {

        HttpRequest _request = _buildGetPortalLandingContactAboutRequest(xApiKey);
        HttpResponse _response = getClientInstance().executeAsString(_request);
        HttpContext _context = new HttpContext(_request, _response);

        return _handleGetPortalLandingContactAboutResponse(_context);
    }

    /**
     * دریافت اطلاعات درباره ی ما
     * @param    xApiKey    Required parameter: Example: 
     */
    public void getPortalLandingContactAboutAsync(
                final String xApiKey,
                final APICallBack<BaseModelPortalLandingContactAbout> callBack
    ) {
        Runnable _responseTask = new Runnable() {
            public void run() {

                HttpRequest _request;
                try {
                    _request = _buildGetPortalLandingContactAboutRequest(xApiKey);
                } catch (Exception e) {
                    callBack.onFailure(null, e);
                    return;
                }

                // Invoke request and get response
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {
                            BaseModelPortalLandingContactAbout returnValue = _handleGetPortalLandingContactAboutResponse(_context);
                            callBack.onSuccess(_context, returnValue);
                        } catch (Exception e) {
                            callBack.onFailure(_context, e);
                        }
                    }

                    public void onFailure(HttpContext _context, Throwable _exception) {
                        // Let the caller know of the failure
                        callBack.onFailure(_context, _exception);
                    }
                });
            }
        };

        // Execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * Builds the HttpRequest object for getPortalLandingContactAbout
     */
    private HttpRequest _buildGetPortalLandingContactAboutRequest(
                final String xApiKey) throws IOException, APIException {
        //the base uri for api requests
        String _baseUri = Configuration.getBaseUri();

        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri + "/InsuranceCentre/PortalLandingContactAbout/hfz1");
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>();
        _headers.put("x-api-key", xApiKey);
        _headers.put("user-agent", BaseController.userAgent);
        _headers.put("accept", "application/json");


        //prepare and invoke the API call request to fetch the response
        HttpRequest _request = getClientInstance().get(_queryUrl, _headers, null);

        // Invoke the callback before request if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        return _request;
    }

    /**
     * Processes the response for getPortalLandingContactAbout
     * @return An object of type BaseModelPortalLandingContactAbout
     */
    private BaseModelPortalLandingContactAbout _handleGetPortalLandingContactAboutResponse(HttpContext _context)
            throws APIException, IOException {
        HttpResponse _response = _context.getResponse();

        //invoke the callback after response if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnAfterResponse(_context);
        }

        //handle errors defined at the API level
        validateResponse(_response, _context);

        //extract result from the http response
        String _responseBody = ((HttpStringResponse)_response).getBody();
        BaseModelPortalLandingContactAbout _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<BaseModelPortalLandingContactAbout>(){});

        return _result;
    }

    /**
     * دریافت لیست سوالات متداول
     * @param    xApiKey    Required parameter: کلید اختصاصی ارتباط با سرور
     * @return    Returns the BaseModelFaqInsuranceCentre response from the API call 
     */
    public BaseModelFaqInsuranceCentre getFaqInsuranceCentre(
                final String xApiKey
    ) throws Throwable {

        HttpRequest _request = _buildGetFaqInsuranceCentreRequest(xApiKey);
        HttpResponse _response = getClientInstance().executeAsString(_request);
        HttpContext _context = new HttpContext(_request, _response);

        return _handleGetFaqInsuranceCentreResponse(_context);
    }

    /**
     * دریافت لیست سوالات متداول
     * @param    xApiKey    Required parameter: کلید اختصاصی ارتباط با سرور
     */
    public void getFaqInsuranceCentreAsync(
                final String xApiKey,
                final APICallBack<BaseModelFaqInsuranceCentre> callBack
    ) {
        Runnable _responseTask = new Runnable() {
            public void run() {

                HttpRequest _request;
                try {
                    _request = _buildGetFaqInsuranceCentreRequest(xApiKey);
                } catch (Exception e) {
                    callBack.onFailure(null, e);
                    return;
                }

                // Invoke request and get response
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {
                            BaseModelFaqInsuranceCentre returnValue = _handleGetFaqInsuranceCentreResponse(_context);
                            callBack.onSuccess(_context, returnValue);
                        } catch (Exception e) {
                            callBack.onFailure(_context, e);
                        }
                    }

                    public void onFailure(HttpContext _context, Throwable _exception) {
                        // Let the caller know of the failure
                        callBack.onFailure(_context, _exception);
                    }
                });
            }
        };

        // Execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * Builds the HttpRequest object for getFaqInsuranceCentre
     */
    private HttpRequest _buildGetFaqInsuranceCentreRequest(
                final String xApiKey) throws IOException, APIException {
        //the base uri for api requests
        String _baseUri = Configuration.getBaseUri();

        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri + "/Faq/InsuranceCentre/hfz1");
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>();
        _headers.put("x-api-key", xApiKey);
        _headers.put("user-agent", BaseController.userAgent);
        _headers.put("accept", "application/json");


        //prepare and invoke the API call request to fetch the response
        HttpRequest _request = getClientInstance().get(_queryUrl, _headers, null);

        // Invoke the callback before request if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        return _request;
    }

    /**
     * Processes the response for getFaqInsuranceCentre
     * @return An object of type BaseModelFaqInsuranceCentre
     */
    private BaseModelFaqInsuranceCentre _handleGetFaqInsuranceCentreResponse(HttpContext _context)
            throws APIException, IOException {
        HttpResponse _response = _context.getResponse();

        //invoke the callback after response if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnAfterResponse(_context);
        }

        //handle errors defined at the API level
        validateResponse(_response, _context);

        //extract result from the http response
        String _responseBody = ((HttpStringResponse)_response).getBody();
        BaseModelFaqInsuranceCentre _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<BaseModelFaqInsuranceCentre>(){});

        return _result;
    }

    /**
     * پیگیری وضعیت بیمه نامه
     * @param    trackingCode    Required parameter: شماره ی پیگیری بیمه نامه
     * @param    nationalCode    Required parameter: کد ملی کاربر
     * @param    xApiKey    Required parameter: کلید اختصاصی ارتباط با سرور
     * @return    Returns the BaseModelInsurancePolicyTracking response from the API call 
     */
    public BaseModelInsurancePolicyTracking getInsurancePolicyTracking(
                final int trackingCode,
                final long nationalCode,
                final String xApiKey
    ) throws Throwable {

        HttpRequest _request = _buildGetInsurancePolicyTrackingRequest(trackingCode, nationalCode, xApiKey);
        HttpResponse _response = getClientInstance().executeAsString(_request);
        HttpContext _context = new HttpContext(_request, _response);

        return _handleGetInsurancePolicyTrackingResponse(_context);
    }

    /**
     * پیگیری وضعیت بیمه نامه
     * @param    trackingCode    Required parameter: شماره ی پیگیری بیمه نامه
     * @param    nationalCode    Required parameter: کد ملی کاربر
     * @param    xApiKey    Required parameter: کلید اختصاصی ارتباط با سرور
     */
    public void getInsurancePolicyTrackingAsync(
                final int trackingCode,
                final long nationalCode,
                final String xApiKey,
                final APICallBack<BaseModelInsurancePolicyTracking> callBack
    ) {
        Runnable _responseTask = new Runnable() {
            public void run() {

                HttpRequest _request;
                try {
                    _request = _buildGetInsurancePolicyTrackingRequest(trackingCode, nationalCode, xApiKey);
                } catch (Exception e) {
                    callBack.onFailure(null, e);
                    return;
                }

                // Invoke request and get response
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {
                            BaseModelInsurancePolicyTracking returnValue = _handleGetInsurancePolicyTrackingResponse(_context);
                            callBack.onSuccess(_context, returnValue);
                        } catch (Exception e) {
                            callBack.onFailure(_context, e);
                        }
                    }

                    public void onFailure(HttpContext _context, Throwable _exception) {
                        // Let the caller know of the failure
                        callBack.onFailure(_context, _exception);
                    }
                });
            }
        };

        // Execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * Builds the HttpRequest object for getInsurancePolicyTracking
     */
    private HttpRequest _buildGetInsurancePolicyTrackingRequest(
                final int trackingCode,
                final long nationalCode,
                final String xApiKey) throws IOException, APIException {
        //the base uri for api requests
        String _baseUri = Configuration.getBaseUri();

        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri + "/InsurancePolicy/Tracking");

        //process query parameters
        Map<String, Object> _queryParameters = new HashMap<String, Object>();
        _queryParameters.put("trackingCode", trackingCode);
        _queryParameters.put("nationalCode", nationalCode);
        APIHelper.appendUrlWithQueryParameters(_queryBuilder, _queryParameters);
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>();
        _headers.put("x-api-key", xApiKey);
        _headers.put("user-agent", BaseController.userAgent);
        _headers.put("accept", "application/json");


        //prepare and invoke the API call request to fetch the response
        HttpRequest _request = getClientInstance().get(_queryUrl, _headers, null);

        // Invoke the callback before request if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        return _request;
    }

    /**
     * Processes the response for getInsurancePolicyTracking
     * @return An object of type BaseModelInsurancePolicyTracking
     */
    private BaseModelInsurancePolicyTracking _handleGetInsurancePolicyTrackingResponse(HttpContext _context)
            throws APIException, IOException {
        HttpResponse _response = _context.getResponse();

        //invoke the callback after response if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnAfterResponse(_context);
        }

        //Error handling using HTTP status codes
        int _responseCode = _response.getStatusCode();

        if (_responseCode == 500) {
            throw new InternalServerErrorException("Internal Server Error", _context);
        }
        //handle errors defined at the API level
        validateResponse(_response, _context);

        //extract result from the http response
        String _responseBody = ((HttpStringResponse)_response).getBody();
        BaseModelInsurancePolicyTracking _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<BaseModelInsurancePolicyTracking>(){});

        return _result;
    }

}
